
body {
        background-color: black;
        color: white ;
        font-size: 200%;
        overflow: scroll;
        line-height: 1.6;
        margin: 30px;
        font-family: "Inter", "Inter Placeholder", sans-serif ;
    }
img, video {
        display: block;
        margin: auto;
        max-width: 100%;
    }
h1, h2 {
        text-align: center;
        font-weight: bold;
    }
h3, h4 {
    font-weight: bold;
    text-decoration: underline;
}


nav {
    border: 2px solid rgb(254, 76, 201);
    width: 100%;
    text-align: center;
    padding: 20px;
    display: inline-block;

}
nav a {
    width: 33%;
}
nav li {
    list-style-type: none;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(255, 148, 223) ;

}
.active{
    text-decoration: underline;
    color: rgb(254, 76, 201);

}

.skip {
    position: absolute;
    top: -100px; 
    background-color: #000;
    color: #fff;
    padding: 2% ;
    text-decoration: underline;
}

.skip:focus {
     top: 0; 
     padding: 10px;
    }

li {
    list-style-type: circle;
}
figcaption {
    text-align: center;
}
.photo-gallery {
        display: grid;
        grid-template-columns: 1fr; 
        grid-gap: 10px; 
        margin: 20px;
        max-width: 100%;
}
.gif {
    animation: play-gif 3s infinite;
}

@keyframes headings {
    from{color: white;}
    to{color: rgb(254, 76, 201)}  
  }
h2{
    color: white;
    animation-name: headings;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


  @media (prefers-reduced-motion:reduce) {
    .animation {
        display: none;
    }

    h2 {
        animation: none;
    }
    .gif {
        display: none;
    }

}



@media screen and (min-width: 750px) { /* tablet view */

    .photo-gallery > div{
		max-height:none;
    }
    
    .photo-gallery {
    
        gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    nav li {
        display: inline-block;
    }
    /* .mainIMG {
        justify-content: left;
    }
    .mainIMG, p {
        display: inline;
    }
     */
}

/*welcome page pop up */ 
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    text-align: center;
  }
  .modal-content > h2 {
    color: rgb(254, 76, 201);
  }
  
  .close-button {
    color: #888;
    float: right;
    font-size: 30px;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #d7d3d3;
  }

/* back to top button */
#topButton {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(254, 76, 201); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #topButton:hover {
    background-color: #555; 
  }


