body {
    background-color: rgb(54, 53, 53);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    line-height: 1.5;
}
main {
    margin: 20px;
}

h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration-line: underline ;
}

h3 {
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;  
}

p {
    line-height: 1.6;
    background-color: grey;
}
img {
    padding: 10px ;  
    border: 2px solid black;
    margin: 10px;
    display: inline;
  }

nav{
    background-image: url(../images/navbar.jpg);
    border: 2px solid black;
    background-color: grey;
    color: black;  
}


li{
    display: inline-block;
    padding: 50px;
    margin: 15px;
}
nav li a{
    background-color: rgb(203, 198, 198);
    /* padding: 5px;
    margin: 20px; */
    border: solid 2px rgb(86, 86, 86);
}
nav li a:hover {
    background-color: rgb(106, 99, 99);
    text-decoration: underline;
}
.active { /* makes color change when on the page FIX */
    background-color: black;
    color: white;
    text-decoration: underline;
}

.thumbnail{
        border: solid 10px black;
        padding: 10px;
        margin: auto;
        display: block;
}

.skip-link {
    position: absolute;
    top: -40px; /* Move it off-screen */
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.skip-link:focus {
     top: 0; /* Bring it back into view when it receives focus */}

@media only screen(max-width = 600px) {
    width = 100%
    display: block;
    font-size: 200%;

    img {
        display:block;
    }
}

@keyframes headings {
  from{color: white;}
  to{color: black;}  
}
h2{

    color: white;
    animation-name: headings;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce){ .element-to-animate{
    animation: none;
}
}
